
.navbar-nav .btn,
.navbar-toggler {
    display: inline-block!important; 
    /*at xxl displays I had to stle using inline and !important to keep the toggle icon from being left off the page*/
}
/*default background*/
body {
    background-color:#FC4C02;
    color: white;
}
 /*background that is toggled to*/

body.dark-mode {
    background-color:black;
    color: #FC4C02;
}

.blog-post {
    border: 3px solid black;
    margin-bottom: 1rem;
}

.title {
    border-bottom: solid black 1px;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 18px;
}
/*Needed to add dark mode to make othe elments visible*/
.dark-mode .blog-post {
    border-color: white;
}
.dark-mode .title {
    border-color: white;
    
}
.content {
    margin-left: 1.5rem;
    font-weight: bold;

}

.username {
    margin-left: 1rem;
    font-size: 14px;
    margin-bottom: 0;

}